# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\COMP6032 AI Coursework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
